/* ForgotPassword.css */

.forgot-password-container {
    max-width: 420px;
    margin: auto;
    height: 450px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 50px;
    background-color: #fffbfb; /* Set container background color */
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
  
  .inputcontainer {
  
    margin-top: 120px;
  }
  
  /* label {
    display: block;
    margin-bottom: 5px;
    
    font-weight: bold; 
    color: rgb(87, 84, 84);
  }
   */
  /* * input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }  */
  .submit-button {
    background-color:green;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    width: 220px;
  }
  
  .message {
    color: #d9534f;
    margin-top: -75px;
    margin-right: 170px;
  }
  
  .back-to-login{
    position: absolute;
    top: 55%;
    right: 46%;
    font-size: 16px;
  }

  .custom-toast{

    margin-top: 30px;
  }


  /* Original styles remain the same */

/* Media query for screens up to 768 pixels */
@media only screen and (max-width: 768px) {
  .forgot-password-container  {
    margin: 0px auto;
    padding: 15px;
    width: 400px;
  }

  h2 {
    margin-top: 30px;
    font-size: 20px;
  }

  .inputcontainer {
    margin-top: 150px;
   
  }

  input {
    width: 90%;
    margin: 10px 0;
  }
  

  .back-to-login {
   position: relative;
   top: 25%;
   left: -11%;
  }

  .submit-button {
    margin-top: 0px;
  }

  .message {
    margin-top: 10px;
    
  }
}

/* Additional styles for tablet and desktop screens remain the same */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 18px;
  }
}

/* Additional styles for screens larger than 992 pixels remain the same */
@media only screen and (min-width: 993px) {
  body {
    font-size: 15px;
  }
}