.history-table{
    width: 69%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 290px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px 5px rgba(117, 116, 116, 0.3);  
}
.filter-container{
    margin-top: -720px;
}

.history-table th,
.history-table td{
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;


}

.hsitory-table th {
    background-color: #f5f5f5;
  }
  
  .history-table tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  .history-table button {
    
    padding: 8px;
    margin-right: 5px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .history-table button:hover {
    background-color: #45a049;
  }
  
  .confirmation-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
    border-radius: 4px;
  }

 /* Add the following styles to adjust the Actions column */
.history-table .actions-column {
    width: 20%;
  }
  
  .history-table .actions-column button {
    margin: 0; /* Remove margin for the buttons */
  }
  
  .history-table .actions-column button:first-child {
    margin-right: 5px; /* Apply margin only to the right of the first button */
  }
  
  .history-table .actions-column button {
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .history-table .actions-column button:hover {
    background-color: #45a049;
  }
  .styled-inputH{
    border: 1px solid #ccc;  /* Default border color */
  border-radius: 4px;  /* Default border radius */
  height: 40px;
  margin-left: -600px;
  margin-top: 40px;
  padding-left: 10px;
  }

  .styled-inputH:focus {
    border-color: #4812c5;
    outline: none; 


}

.styled-inputD{
  border: 1px solid #ccc;  /* Default border color */
  border-radius: 4px;  /* Default border radius */
  height: 40px;
  padding-left: 10px;
  margin-top: -50px;

}


.styled-inputD:focus {
  border-color: #4812c5;
  outline: none; 


}
.styled-inputC{
  border: 1px solid #ccc;  /* Default border color */
  border-radius: 4px;  /* Default border radius */
  height: 40px;
  padding-left: 10px;
  margin-top: -80px;


}
.styled-inputC:focus {
  border-color: rgb(197, 140, 18);
  outline: none; 


}

.search-icon {
  margin-left: -20px;
  color: rgb(142, 146, 148);
}


.pagination-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 680px;
}

.pagination-button {
  background: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 8px 12px;
 
  cursor: pointer;
  border-radius: 4px;
}

.pagination-button:disabled {
  background: #ddd; /* Disabled button background color */
  color: #666; /* Disabled button text color */
  cursor: not-allowed;
}

.page-icon{


  background-color: #2674f1;
  color: rgb(0, 0, 0);
  width: 40px;
  padding-top: 10px;
  height: 40px;
  border-radius: 0px;
  border-radius: 30px;
  font-weight: 500;
  color: white;
}

.no-data-message{

  color: red;
  font-size: 16px;
  margin-top: 100px;
}


@media (max-width: 768px) {
  .history-table{
    width: 1000px;
  }
 

}

@media (max-width: 576px) {
  .history-table{
    width: 1000px;
  }
  
}


@media (max-width: 790px) {
  .history-table{
    width: 1000px;
  }
  
  
}
@media only screen and (min-width: 768px) and (max-width: 1361px)  {
  .filter-container{

    width: 1000px;
  }
  .history-table{
    width: 1000px;
  }
  
  .michel{

    width: 700px;
    margin-left: 400px;
  }
  .styled-inputH{

    margin-left: -150px;
  }
  .styled-inputD{
    margin-left: 940px;
    margin-top: -100px;
  }
  .r{
    margin-left: 790px;
  
    margin-top: 30px;
    
  }
  .styled-inputC{
    margin-left: -20px;
  }
  .e{

    margin-right: -110px;
    padding-bottom: -60px;
    margin-top: -70px;
  }
 
 
}


@media only screen and (min-width: 208px) and (max-width: 768px){

  .filter-container{
    margin-top: -970px;

    width: 400px;
  }
  .history-table{
    margin-top: 0px;
    width: 1000px;
  }
  .michel{

    width: 700px;
    margin-left: 400px;
    margin-top: -790px;
    margin-bottom: 10px;
    
  }
  .styled-inputH{

    margin-left: 250px;
    width: 220px;
    margin-bottom: -200px;
    margin-top: 290px;
  }
  .styled-inputD{
   
    margin-left: 900px;
    width: 120px;
    margin-top: -500px;
  }
  .r{
   margin-left: 840px;
  
    
  }
  .styled-inputC{
    margin-left: -20px;
  }
  .e{
   
   margin-right: -620px;

  
  }
  .page-icon{
    font-size: 20px;
    padding: 10px;
    
  }
  .page-icon-button{
    font-size: 20px;
  }
 .tt{

  font-size: 14px;
 }






}